// importing fonts from google
@import url('https//fonts.googleapis.com/css?family=Bungee&display=swap');

//background image
#homepage{
    background-image: url('/NBAQuiz_images/Background.jpg');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table{
    .correct{
        background-color: hsla(120,100%,50%,0.3);

    }
    .wrong{
        background-color: hsla(0,100%,50%,0.3);
    }
}


