{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <!--Insert NBA Quiz logo here-->
    <div>
        <h1 class="heading">YOOO</h1>
    </div>
    
    <!--Insert buttons to play quiz/login-->
    <div>
        <!--If user is not logged in display both buttons,
             else display only the "Play" button-->
        <form>
            <div class="mb-3">
                <button type="submit" class="btn btn-light" formaction="{{ url_for('main.start') }}">PLAY!</button>
            </div>
        </form>
    </div>

{% endblock %}