{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            <!--If there is an error in the form, print out error message-->
            {% if form.username.errors %}
                <div>
                    {% for error in form.username.errors %}
                    <h3>{{ error }}</h3>
                    {% endfor %}
                </div>
                {{ form.username(class="form-control") }}
            {% else %}
                {{ form.username(class="form-control") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            <!--If there is an error in the form, print out error message-->
            {% if form.password.errors %}
                <div>
                    {% for error in form.password.errors %}
                    <h3>{{ error }}</h3>
                    {% endfor %}
                </div>
                {{ form.password(class="form-control") }}
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            <!--If there is an error in the form, print out error message-->
            {% if form.confirm_password.errors %}
                <div>
                    {% for error in form.confirm_password.errors %}
                    <h3>{{ error }}</h3>
                    {% endfor %}
                </div>
                {{ form.confirm_password(class="form-control") }}
            {% else %}
                {{ form.confirm_password(class="form-control") }}
            {% endif %}
        </div>

        {{ form.submit(class="btn btn-light") }}
    </form>
{% endblock %}