{% extends "layout.html" %}

{% block title %}
   Stats
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th colspan="2" scope="col">Stats for "username"</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Games Played</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Correct Answers</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Wrong Answers</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
{% endblock %}